{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {% include 'partials/_navbar.html.twig' %}
    <div class="rounded overflow-hidden shadow-lg w-full md:w-1/2 mx-auto mt-10">
        <div class="px-6 py-4">
            <h1 class="font-bold text-xl mb-2 text-gray-900" style="text-shadow: 1px 1px 2px #079EDD;">Veuillez vous connecter</h1>
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                {% endif %}

                <div class="mb-3">
                    <label for="username">Email :</label>
                    <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control shadow-sm rounded-md ml-2" autocomplete="email" required autofocus>
                </div>
                <div class="mb-3">
                    <label for="password">Mot de passe :</label>
                    <input type="password" name="_password" id="password" class="form-control shadow-sm rounded-md ml-2" autocomplete="current-password" required>
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <div class="text-center">
                    <button class="mt-5 px-4 py-2 text-center rounded text-white bg-gray-900 hover:bg-gray-600">Se connecter</button>
                </div>
            </form>
        </div>
    </div>

    </form>
{% endblock %}
