<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Assets Vite auto (dev/prod) #}
		{{ vite_entry_link_tags('app') }}
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{{ vite_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{# Navbar fixe en haut #}
		<nav class="w-full bg-gray-900 text-white shadow z-50">
			<div class="container mx-auto py-2 px-4 w-full float-right">
				{% if app.user %}
					<a href="{{ path('app_logout') }}" class="px-3 py-1 rounded bg-red-600 hover:bg-red-700 transition">Déconnexion</a>
				{% endif %}
			</div>
		</nav>

		<div class="pt-16">
			{# Décalage pour la navbar fixe #}
			{# Affichage des messages flash #}
				{% for label, messages in app.flashes %}
					{% for message in messages %}
						<div class="flash-{{ label }}"> {{ message }}
					</div>
				{% endfor %}
			{% endfor %}
			{% block body %}{% endblock %}
		</div>
	</body>
</html>
