{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}
    
{% block body %}
{% include 'partials/_navbar.html.twig' %}

<div class="container mx-auto px-4 py-4">

    <h1 class="text-2xl font-bold">Editer vos données</h1>

    <form action="{{ path('app_user_edit', {'id': user.id}) }}" method="post" class="mt-4">

        {{ form_start(form) }}

            <div class="flex flex-col">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'w-full px-4 py-2 mt-2 border rounded-md'}}) }}
            </div>

            <div class="flex flex-col">
                {{ form_label(form.password.first) }}
                {{ form_widget(form.password.first, {'attr': {'class': 'w-full px-4 py-2 mt-2 border rounded-md'}}) }}
            </div>

            <div class="flex flex-col">
                {{ form_label(form.password.second) }}
                {{ form_widget(form.password.second, {'attr': {'class': 'w-full px-4 py-2 mt-2 border rounded-md'}}) }}
            </div>

            <button type="submit" class="px-4 py-2 mt-4 text-white shadow-md bg-gray-900 rounded-md hover:bg-gray-700">Save</button>

        {{ form_end(form) }}

    </form>

</div>
{% endblock %}
